

<div class="container">
    <h2>Servicios</h2>
    <div class="service_area">
        <div class="row">
            <div class="col-lg-4">
                <div class="service_block">
                    <div class="service_icon">
                        <span><img src="img/est.jpg" alt="Turismo estudiantil"></span>
                    </div>
                    <h3>Turismo Estudiantil</h3>
                    <p>Viaje de egresados secundarios<br>
                        Duración: 10 días / 8 noches. <br>
                        Salidas: Octubre / Noviembre / Diciembre<br>
                        Kit de viaje: 2 remeras + 1 mochila + 1 Pulsera identificadora.<br>
                    </p>
                    <p class="link_leer_mas_servicios">Leer Mas ...</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_block">
                    <div class="service_icon icon2">
                        <span><img src="img/bra.jpg" alt="Sur de Brasil"></span>
                    </div>
                    <h3>Salidas Grupales</h3>
                    <p>Sur de Brasil <br>
                        1 Noche en Concordia- 5 Noches en Balneario Camboriu - 3 Noches en Foz do Iguazu- 1 Noche en Concordia.<br>
                        Duracion : 15 Dias - 10 Noches <br>
                        COBERTURA MEDICA DURANTE TODO EL RECORRIDO <br>
                        Servicio de coordinador permanente y guías locales en las excursiones incluidas. <br>
                    </p>
                    <p class="link_leer_mas_servicios">Leer Mas ...</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="service_block">
                    <div class="service_icon icon3">
                        <span><img src="img/qui.jpg" alt="Quince años"></span>
                    </div>
                    <h3>Quince Años</h3>
                    <p>Quince Años<br>
                        VIVÍ TU VIAJE A DISNEY JUNTO A NOSOTROS !!! <br>
                        Grupos de 15 chicas acompañadas por una coordinadora.<br>
                        Visita a los parques, ciudad de Orlando y Miami.<br>
                        SALIDAS: Febrero y Julio 2016/2017 <br></p>
                </div>
            </div>
        </div>
    </div>
</div>
